<div class="content">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-8">
        <h1 class="text-center mb-3">Kontakt</h1>
        <div class="form-ncu">
            <p><%= @idea_problem.type_idea ? 'Ideen Titel:' : 'Problem Titel:' %></p>
            <p class="mb-3"><%= @idea_problem.title %></p>
            <hr>
            <%= simple_form_for([@idea_problem, @contact_message]) do |f| %>
                <%= f.input :sender_subject, autocomplete: :off, label: "Betreff" %>
                <%= f.input :sender_email, autocomplete: :off, label: "E-Mail" %>
                <%= f.input :sender_message, as: :text, input_html: { 'rows': 10 }, label: "Nachricht" %>
                <div class="mt-3">
                    <%#= f.button :submit, "Send", class: 'btn btn-dark mb-3'%>
                    <%= link_to 'Send', "#", class: 'btn btn-dark mb-3', style: 'color: white'%>
                </div>
            <% end %>
            <%= link_to "<< Back", idea_problem_path(@idea_problem) %>
        </div>
        </div>
    </div>
    </div>
</div>
