<div class="content">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12">
        <div class="form-ncu">
            <%= simple_form_for([@idea_problem, @contact_message]) do |f| %>
            <%= f.input :subject, autocomplete: :off, label: "Betreff" %>
            <%= f.input :email, autocomplete: :off, label: "E-Mail" %>
            <%= f.input :message, as: :text, input_html: { 'rows': 10 }, label: "Nachricht" %>
            <div class="mt-3">
                <%= f.button :submit, "Send", class: 'btn btn-primary mb-3'%>
            </div>
            <% end %>
            <%= link_to "<< Back", idea_problem_path(@idea_problem) %>
        </div>
        </div>
    </div>
    </div>
</div>
