<div class="main-container">
    <%= render 'shared/filter_sidebar' %>
    <div class="content-index cont">    
        <div class="wrapper">
            <div class="filter">
                <div class="filter-links">
                    <h4><%= link_to "IDEAS", {controller: 'idea_problems', action: 'index', filter: params[:filter] = true}, method: 'get', class: 'clear-filter' %></h4>
                    <p><small> (<%= @idea_problems.where(type_idea: true).count %>)</small></p>
                    <h4>&</h4> 
                    <h4><%= link_to "PROBLEMS", {controller: 'idea_problems', action: 'index', filter: params[:filter] = false}, method: 'get', class: 'clear-filter' %></h4>
                    <p><small> (<%= @idea_problems.where(type_idea: false).count %>)</small></p>
                </div>
                <p class="clear-filter"><%= link_to "clear filter", idea_problems_path %></p>
            </div>
            <div class="idea-grid">
                <% @idea_problems.order(created_at: :desc).each do |item| %>
                    <%= render "shared/card_overview", item: item %>
                <% end %>
            </div>
        </div>
        <div class="arrow-top">
            <i class="fas fa-arrow-circle-up"></i>
        </div>
    </div>
</div>
