<div class="main-container">
    <div class="content cont">    
        
        <h3>My Ideas & Problems</h3>
        <div class="plus-symbol">
        <%= link_to new_idea_problem_path do %>
            <div class="add">
                <i class="fas fa-plus">
                    <span id="tooltip-text" style="white-space: nowrap;">Idee | Problem hinzufügen</span>
                </i>
            </div>
        <% end %>
        </div>
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titel</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Status</th>
                    <th scope="col" colspan="2">Aktion</th>
                </tr>
            </thead>
            <tbody>
                <% @idea_problems.each_with_index do |item, i| %>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td>
                    <div class="link-title">
                        <%= link_to truncate(item.title, length: 80), idea_problem_path(item) %>
                    </div>
                    </td>
                    <td><%= item.type_idea ? "Idee" : "Problem" %></td>
                    <td class="text-center">
                        <% if !item.status_open %>
                            <i class="fas fa-lock"></i>
                        <% end %>
                    </td>
                    <td>
                    <div class="link">
                        <%= link_to edit_idea_problem_path(item) do %>
                        <i class="fas fa-pen">
                            <span id="tooltip-text">bearbeiten</span>
                        </i>
                        <% end %>
                    </div>
                    </td>
                    <td>
                    <div class="link">
                        <%= link_to idea_problem_path(item), method: :delete, data: {confirm: "Delete #{item.title}?"}, class: 'clear-filter', remote: true do %>
                        <%# <i class="fas fa-times"></i> %>
                        <i class="far fa-trash-alt">
                            <span id="tooltip-text">löschen</span>
                        </i>
                        <% end %>
                    </div>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <h3 class="my-5">My Messages</h3>
        <table class="table table-light mb-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Empfänger</th>
                    <th scope="col">Ideen | Problem Title</th>
                    <th scope="col" colspan="2">Aktion</th>
                </tr>
            </thead>
            <tbody>
                <% @contact_messages.each_with_index do |message, i| %>
                <tr>
                    <th scope="row"><%= i + 1%></th>
                    <td><%= message.created_at.strftime("%d.%m.%Y") %></td>

                    <% if !IdeaProblem.find(message.recipient_idea_problem_id).user.person_group_private && IdeaProblem.find(message.recipient_idea_problem_id).user.company_name != "" %>
                        <td><%= IdeaProblem.find(message.recipient_idea_problem_id).user.company_name %></td>
                    <% else %>
                        <td><%= IdeaProblem.find(message.recipient_idea_problem_id).user.first_name.capitalize %></td>
                    <% end %>
                    <td>
                    <div class="link-title">
                        <%= link_to truncate(message.recipient_idea_problem_title, length: 80), idea_problem_path(message.recipient_idea_problem_id) %></td>
                    </div>
                    <td id="show-hide-arrow">
                        <i class="fas fa-chevron-up hide">
                            <span id="tooltip-text" style="white-space: nowrap;">Nachricht verbergen</span>
                        </i>
                        <i class="fas fa-chevron-down">
                            <span id="tooltip-text" style="white-space: nowrap;">Nachricht anzeigen</span>
                        </i>
                    </td>
                    <td>
                    <div class="link">
                        <%= link_to contact_message_path(message), method: :delete, data: {confirm: "Delete Message?"}, class: 'clear-filter', remote: true do %>
                        <i class="far fa-trash-alt">
                            <span id="tooltip-text">löschen</span>
                        </i>
                        <% end %>
                    </div>
                    </td>
                    <% if message %>
                    <tr id="message" class="message-hide">
                        <th scope="row"></th>
                        <td colspan="4" style="width: min-content" class="text-justify"><em>Message:</em> <br> <%= message.sender_message %></td>
                    </tr>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
