<div class="card-details-body">
     <div class="symbols">
        <div class="edit-delete">
        <% if @idea_problem.user == current_user %>
            <%= link_to edit_idea_problem_path(@idea_problem) do %>
                <i class="fas fa-pen">
                    <span id="tooltip-text">bearbeiten</span>
                </i>
            <% end %>
            <%= link_to idea_problem_path(@idea_problem), method: :delete, data: {confirm: "Delete #{@idea_problem.title}?"}, remote: true do %>
                <i class="far fa-trash-alt">
                    <span id="tooltip-text">löschen</span>
                </i>
            <% end %>
        <% end %>
        </div>
        <% if @idea_problem.status_open %>
            <i class="fas fa-lock" style="color: white"></i>
        <% else %>
            <i class="fas fa-lock"></i>
        <% end %>
    </div>
    <h5><%= @idea_problem.type_idea ? "Ideen Titel:" : "Problem Titel:" %></h5>
    <p><strong><%= @idea_problem.title %></strong></p>
    <div class="categories">
        <p>
        <% @idea_problem.categories.each_with_index do |c, i| %>
            <% if i == @idea_problem.categories.length - 1 %>
                <%= link_to c.name, {controller: 'idea_problems', action: 'index', query: params[:query] = c.name}, method: 'get', class: 'clear-filter' %>
            <% else %>
                <%= link_to c.name, {controller: 'idea_problems', action: 'index', query: params[:query] = c.name}, method: 'get', class: 'clear-filter' %> |  
            <% end %>
        <% end %>
        </p>
    </div>
    <h5>Beschreibung:</h5>
    <% if @idea_problem.status_open || @idea_problem.user == current_user%>
        <p class="text-justify"><%= @idea_problem.description_long %></p>
        <h5>Anhänge:</h5>
        <% if @idea_problem.user == current_user %>
            <div class="add-attachments" style="font-size: small">
                <%= form_tag({action: :create_attachment}, multipart: true) do %>
                    <div class="d-flex align-items-sm-center my-3">
                        <%= file_field_tag 'documents[]', multiple: true %>
                        <%= submit_tag "add files", class: "btn-add-file ml-1" %>
                    </div>
                <% end %>
            </div>
        <% end %>
        <div class="attachments">
            <p>
            <% @idea_problem.documents.each_with_index do |document, i| %>
                <%# if @idea_problem.documents.attached? %>
                <% unless i == @idea_problem.documents.length - 1 %>
                    <%= link_to document.filename, rails_blob_path(document, disposition: "attachment"), target: "_blank" %>
                    <%#= link_to "X", {controller: 'idea_problems', action: 'delete_attachment', id: document}, method: :delete, data: { confirm: "Delete #{document.filename}?" }, remote: true %>
                    <% if @idea_problem.user == current_user %>
                        <%= link_to delete_attachment_idea_problem_path(document), method: :delete, data: { confirm: "Delete #{document.filename}?" }, remote: true do %>
                            <i class="fas fa-times">
                                <span id="tooltip-text">löschen</span>
                            </i>
                        <% end %> &nbsp|&nbsp 
                    <% else %>
                        &nbsp|&nbsp
                    <% end %>
                <% else %> 
                    <%= link_to document.filename, rails_blob_path(document, disposition: "attachment"), target: "_blank" %>
                    <%#= link_to "X", {controller: 'idea_problems', action: 'delete_attachment', id: document}, method: :delete, data: { confirm: "Delete #{document.filename}?" }, remote: true %>
                    <% if @idea_problem.user == current_user %>
                        <%= link_to  delete_attachment_idea_problem_path(document), method: :delete, data: { confirm: "Delete #{document.filename}?" }, remote: true do %>
                            <i class="fas fa-times">
                                <span id="tooltip-text">löschen</span>
                            </i>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
            </p>
        </div>
    <% else %>
        <p><strong>Bitte kontaktieren Sie den Ersteller für weitere Informationen!</strong></p>
    <% end %>
    <div class="info">
        <% if !@idea_problem.user.person_group_private && @idea_problem.user.company_name %>
            <p>Ersteller: <%= @idea_problem.user.company_name %></p>
        <% else %>
            <p>Ersteller: <%= @idea_problem.user.first_name.capitalize %></p>
        <% end %>
        <% unless @idea_problem.user == current_user %>
            <p><%= link_to "Ersteller kontaktieren", new_idea_problem_contact_message_path(@idea_problem) %></p>
        <% end %>
        <p>Erstelldatum: <%= @idea_problem.created_at.strftime("%d.%m.%Y") %></p>
    </div>
    <p style="color:lightslategray"><em><%= @idea_problem.user.person_group_private ? "Privatperson" : "Unternehmen"%></em></p>
    <p><%= link_to "<< BACK", idea_problems_path(@idea_problem, anchor: "item-#{@idea_problem.id}"), class: 'clear-filter' %></p>
    <%#= link_to "<< BACK", request.referer.present? ? request.referer : default_path %>
<div>

