<div class="card-details-body">
     <div class="symbols">
        <div class="edit-delete">
        <% if @idea_problem.user == current_user %>
            <%= link_to edit_idea_problem_path(@idea_problem) do %>
                <i class="fas fa-pen">
                    <span id="tooltip-text">bearbeiten</span>
                </i>
            <% end %>
            <%= link_to idea_problem_path(@idea_problem), method: :delete, data: {confirm: "Delete #{@idea_problem.title}?"} do %>
                <i class="far fa-trash-alt">
                    <span id="tooltip-text">löschen</span>
                </i>
            <% end %>
        <% end %>
        </div>
        <% if @idea_problem.status_open %>
            <i class="fas fa-lock" style="color: white"></i>
        <% else %>
            <i class="fas fa-lock"></i>
        <% end %>
    </div>
    <h5><%= @idea_problem.type_idea ? "Ideen Titel:" : "Problem Titel:" %></h5>
    <p><strong><%= @idea_problem.title %></strong></p>
    <div class="categories">
        <p>
        <% @idea_problem.categories.each_with_index do |c, i| %>
            <% if i == @idea_problem.categories.length - 1 %>
                <%= link_to c.name, {controller: 'idea_problems', action: 'index', query: params[:query] = c.name}, method: 'get' %>
            <% else %>
                <%= link_to c.name, {controller: 'idea_problems', action: 'index', query: params[:query] = c.name}, method: 'get' %> |  
            <% end %>
        <% end %>
        </p>
    </div>
    <h5>Beschreibung:</h5>
    <% if @idea_problem.status_open %>
        <p><%= @idea_problem.description_long %></p>
        <h5>Anhänge:</h5>
        <div class="attachments">
            <p>
            <% @idea_problem.documents do |document| %>
                <%= document.filename %>
                <%= link_to document.key, url_for(document) %>
            <% end %>
            </p>
        </div>
    <% else %>
        <p><strong>Bitte kontaktieren Sie den Ersteller für weitere Informationen!</strong></p>
    <% end %>
    <div class="info">
        <p>Ersteller: <%= @idea_problem.user.email.split("@")[0] %></p>
        <p><%= link_to "Ersteller kontaktieren", "#" %></p>
        <p>Erstelldatum: <%= @idea_problem.created_at.strftime("%d.%m.%Y") %></p>
    </div>
    <p style="color:lightslategray"><em>Privatperson</em></p>
    <p><%= link_to "<< BACK", idea_problems_path %></p>
<div>