<div class="card-body">
    <div class="symbols">
        <div class="edit-delete">
            <% if item.user == current_user %>
                <%= link_to edit_idea_problem_path(item) do %>
                    <i class="fas fa-pen">
                        <span id="tooltip-text">bearbeiten</span>
                    </i>
                <% end %>
                <%= link_to idea_problem_path(item), method: :delete, data: {confirm: "Delete #{item.title}?"} do %>
                    <i class="far fa-trash-alt">
                        <span id="tooltip-text">löschen</span>
                    </i>
                <% end %>
            <% end %>
        </div>
        <% if item.status_open %>
            <i class="fas fa-lock" style="color: white"></i>
        <% else %>
            <i class="fas fa-lock">
                <span id="tooltip-text" style="white-space: nowrap;">Details auf Anfrage</span>
            </i>
        <% end %>
    </div>
    <h5>Titel:</h5>
    <div class="title">
        <%= link_to idea_problem_path(item) do %>
            <p><%= item.title %></p>
        <% end %>
    </div>
    <h5>Kategorien:</h5>
    <div class="categories">
        <p>
        <% item.categories.each_with_index do |c, i| %>
            <% if i == item.categories.length - 1 %>
                <%= link_to c.name, {controller: 'idea_problems', action: 'index', query: params[:query] = c.name}, method: 'get' %>
            <% else %>
                <%= link_to c.name, {controller: 'idea_problems', action: 'index', query: params[:query] = c.name}, method: 'get' %> | 
            <% end %>
        <% end %>
        </p>
    </div>
    <div class="date">
        <% if item.type_idea %>
            <p><em><%= link_to "IDEA", {controller: 'idea_problems', action: 'index', filter: params[:filter] = item.type_idea}, method: 'get' %></em></p>
        <% else %>
            <p><em><%= link_to "PROBLEM", {controller: 'idea_problems', action: 'index', filter: params[:filter] = item.type_idea}, method: 'get' %></em></p>
        <% end %>
        <p>Erstelldatum: <%= item.created_at.strftime("%d.%m.%Y") %></p>
    </div>
</div>
