<div class="hide-button">
    <i class="fas fa-angle-left" style="font-size: 40px"></i>
    <i class="fas fa-angle-right hide" style="font-size: 40px"></i>
</div>
<div class="sidebar">
    <div class="filter-sidebar">
        <%= form_tag idea_problems_path, method: :get do %>
        <div class="d-flex mb-4">
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Title, Description, Category"
            %>
            <button type="submit" class="btn btn-default clear-filter">
                <i class="fas fa-search"></i>
            </button>
            <%#= submit_tag "Search", class: "btn btn-dark" %>
        </div>
        <% end %>
        <%= form_tag idea_problems_path, method: :get, class: "filter-form" do %> 
            <div class="d-flex flex-column">
                <hr>
                <p><strong>Idee oder Problem:</strong></p>
                <div class="d-flex justify-content-between">
                    <label class="cb">
                        <%= check_box_tag "filter[]", true %>
                        <%= "Idee" %>
                    </label>
                    <label class="cb">
                        <%= check_box_tag "filter[]", false %>
                        <%= "Problem" %>
                    </label>
                </div>
                <hr>
                <p><strong>Kategorien:</strong></p>
                <% Category.all.sort_by(&:name).each do |cat| %>
                    <label class="cb">
                        <%= check_box_tag "filter[]", cat.name, false, {multiple: true} %>
                        <%= cat.name %> <%#= IdeaProblemCategory.where(category_id: cat.id).count %>
                    </label>
                <% end %>
            </div>
            <%= submit_tag "Filter", class: "btn btn-outline-dark btn-sm mt-3" %>
        <% end %>
    </div>
</div>
