<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12">
      <div class="form-login">
        <%= simple_form_for([@idea_problem]) do |f| %>
        <%= f.input :title, autocomplete: :off, label: "Title" %>
        <%= f.input :description_long, label: "Description" %>
        <%= f.input :type_idea, as: :radio_buttons, collection: [["Idea", true], ["Problem", false]], checked: true, label: "Please choose" %>
        <%= f.association :category %>
        <%#= f.collection_select :category_id, Category.all, :id, :name, prompt: true, input_html: { multiple: true } %>
        <%= f.button :submit, "Create Idea or Problem", class: 'btn btn-primary mb-3'%>

        <% end %>
        <%= link_to "Back", idea_problems_path, class: 'back'%>

      </div>
    </div>
  </div>
</div>
